# ---------------
# GENERAL ALIASES
# ---------------

# Shell configuration
alias edit="emacs ~/.$SHELL_CONFIG"
alias reload="source ~/.$SHELL_CONFIG"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."

# git
alias g="git"
alias git-config="emacs ~/.gitconfig"

# ssh
alias ssh-config="emacs ~/.ssh/config"
alias ssh-copy="pbcopy < ~/.ssh/id_rsa.pub"
alias scp="rsync -avzP"

# tmux
alias ta="tmux a -t"
alias tl="tmux ls"
alias tn="tmux new -s"

# General-purpose shortcuts
alias a="ack"
alias c="cat"
alias df="df -h"
alias du="du -hc"
alias e="emacs"
alias f="find . -name"
alias h="head"
alias j="z"
alias l="ls -lah"
alias m="mysql"
alias mr="mysql -uroot"
alias md="mysqldump -uroot"
alias o="open"
alias p="python"
alias pc="pbcopy"
alias pweb="python -m SimpleHTTPServer"
alias p1="patch -p1 <"
alias rr="rm -rf"
alias v="valgrind --leak-check=full --show-leak-kinds=all --dsymutil=yes"
alias t="tail"
