alias git-config="emacs ~/.gitconfig"
alias ssh-config="emacs ~/.ssh/config"

alias a="ack"
alias c="cat"
alias df="df -h"
alias du="du -hc"
alias e="emacs"
alias f="find . -name"
alias g="git"
alias h="head"
alias j="z"
alias m="mysql"
alias mr="mysql -uroot"
alias md="mysqldump -uroot"
alias o="open"
alias p="python"
alias pc="pbcopy"
alias pweb="python -m SimpleHTTPServer"
alias p1="patch -p1 <"
alias rr="rm -rf"
alias scp="rsync -avzP"
alias ssh-copy="pbcopy < ~/.ssh/id_rsa.pub"
alias v="valgrind --leak-check=full --show-leak-kinds=all --dsymutil=yes"
alias t="tail"
alias ta="tmux a -t"
alias tl="tmux ls"
alias tn="tmux new -s"
