# If no argument, equivalent to "cd .."
# Otherwise, moves up n directories, where n is the first argument
# Courtesy Juan Pablo Sarmiento
up() {
  local back=""
  for i in $(seq 1 $1); do back+="../"; done
  cd $back
}

# Undo last commit but preserve changes
# No arguments
undo-commit() {
  local diff_against_previous_commit=$(git diff HEAD~1)
  git reset --hard HEAD~1
  echo $diff_against_previous_commit | patch -p1
}

# Generates random password of specified length
pass() {
  local full_password=$(gpwd)
  if [ "$1" -eq "" ]
  then
    echo $full_password
  else
    echo ${full_password:0:$1}
  fi
}
