[user]
	name = Onkur Sen
	email = onkursen@gmail.com
[color]
	diff = auto
	status = auto
	ui = 1
[color "diff"]
       meta = blue bold
       frag = magenta bold
       old = red
       new = green
[color "status"]
       added = green
       changed = blue bold
       untracked = red
[alias]
	a = add
	aa = add --all
	ap = add -p
	b = branch -a
	br = branch
	ci = commit
	cl = clean -df
	co = checkout
	d = diff --color-words
	dc = diff --cached
	df = diff
	f = fetch -p
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	ls = ls-files
	pl = pull
	ps = push
	rb = rebase
	rs = reset
	st = status -sb
[core]
	editor = emacs
[push]
	default = matching
