[user]
	name = Onkur Sen
	email = onkursen@gmail.com
[color]
	diff = auto
	status = auto
	ui = 1
[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = green
	changed = blue bold
  untracked = red
[url "git@github.com:"]
    insteadOf = gh:
    insteadOf = github:
[alias]
    a = add
    aa = add --all
    ap = add -p
    b = !git --no-pager branch --color -avv
    bl = blame
    br = !git --no-pager branch --color
    c = clone
    ci = commit
    cia = commit --amend
    cl = clean -df
    co = checkout
    cp = cherry-pick
    dlg = !sh -c 'git lg | sed "/tag:/q"'
    dc = diff --cached
    delete = branch -D
    df = diff
    ds = !sh -c 'git diff master --stat=500 | cat'
    f = fetch -p --tags
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev=8
    ls = ls-files
    new = checkout -b
    pl = pull --tags
    ps = push
    r = remote -v
    rb = rebase
    rbi = rebase -i
    rbm = rebase master
    rbim = rebase -i master
    rename = branch -m
    rc = rebase --continue
    rs = reset
    rv = revert
    s = stash
    sl = !sh -c 'git stash list | cat'
    ssp = stash show -p
    st = status -sb
    sup = submodule update --init --recursive
    up = pull --rebase --autostash
[core]
	editor = vim
	excludesfile = /Users/onkur/.gitignore_global
  pager = "less -+F"
[push]
	default = matching
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
